@font-face {
    font-family: 'EnvyCodeR';
    src: url('./fonts/EnvyCodeR-Bold.ttf');
}
@font-face {
    font-family: 'SmallLcd';
    src: url('./fonts/SmallLcdSignRegular-eLvm.ttf');
}

p {
	text-shadow: 0 0 12px #1bff00ab, 0 0 44px #10ff00;
}

b > a:focus {
    outline: none !important;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
	background: unset !important;
	line-height: unset !important;
	font-family: 'Roboto', sans-serif !important;
}

#self-test-container {
	display: block;
    position: absolute;
    top: 34%;
    left: 18%;
    width: 64%;
    height: 26%;
}

#self-test-container > p {
	font-family: "EnvyCodeR";
    font-weight: bolder;
    color: #b6ff9e;
    text-align: center;
	font-size: 24px;
	margin: 0;
}

#hud {
	display: grid;
    grid-row: 1/2;
    position: absolute;
    background: url(textures/hud_sight.png);
    background-repeat: no-repeat;
	width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-position: bottom;
}

#range-hud{
	font-family: 'SmallLcd';
    color: #d0db21;
    margin: 24px 0px -1px;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin-top: 30px;
	position: relative;
    top: 72%;
    font-size: 48px;
    font-weight: 100;
	text-shadow: 3px 2px 0px rgb(251 12 12 / 20%), 0px -2px 1px rgb(49 251 12 / 50%), -1px 1px 1px rgb(0 0 0 / 50%);
}

#speed-hud{
    font-family: 'SmallLcd';
    color: #d0db21;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    position: relative;
    font-weight: 100;
    font-size: 48px;
    margin-left: -22px;
    top: 15%;
	text-shadow: 3px 2px 0px rgb(251 12 12 / 20%), 0px -2px 1px rgb(49 251 12 / 50%), -1px 1px 1px rgb(0 0 0 / 50%);
}

#left {
    display: grid;
    grid-row: 1/2;
    float: left;
    position: absolute;
    left: 19.5%;
    top: 33%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 22%;
    height: 27%;
}

#left > p {
	text-shadow: rgb(27 255 0 / 78%) 0px 0px 12px, rgb(16 255 0 / 50%) 0px 0px 44px;
}

#unit {
	position: relative;
    font-size: 36px;
    color: #b6ff9e;
    font-family: 'ENVYCODER';
    grid-row: 2;
    grid-column: 2;
    margin: 0px 20px 0px 0px;
    text-align: right;
}

#speed {
    font-family: 'ENVYCODER';
    font-weight: bolder;
    font-size: 64px;
    color: #b6ff9e;
    text-align: right;
    grid-column: 2;
    grid-row: 1;
    margin: -4px 0px -19px 0px;
}

#right {
	display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    position: absolute;
    float: right;
    top: 33%;
    left: 45%;
    width: 37%;
    height: 26%;
}

#right > p {
    text-shadow: rgb(27 255 0 / 78%) 0px 0px 12px, rgb(16 255 0 / 50%) 0px 0px 44px;
}

#range {
    font-family: "EnvyCodeR";
    font-weight: bolder;
    font-size: 30px;
    color: #b6ff9e;
    margin: 4px 0px -26px 0px;
    grid-column: 1;
    grid-row: 1;
}

#timer {
    top: 29%;
    font-size: 21px;
    color: #b6ff9e;
    font-family: 'ENVYCODER';
    margin: -13px 0px 0px 13px;
    grid-row: 2;
}

#vertical-div {
    left: 42%;
    top: 27%;
    width: 0.5%;
    height: 23%;
    background-color: #b6ff9e;
    padding: 0px;
	position: absolute;
    margin: 32px 0px 0px 0px;
	box-shadow: rgb(27 255 0 / 78%) 0px 0px 12px, rgb(16 255 0 / 50%) 0px 0px 44px;
}

#laser-gun {
    display: none;
	position: absolute;
    height: 389px;
    width: 634px;
    bottom: 2%;
	margin-bottom: 0%;
    background: url("textures/lidar.png");
	background-size: contain;
    transform: scale(0.65);
    transform-origin: bottom;
    left: 60%;
	cursor: move;
	z-index: 1;
	user-select: none;
}

#top-container {
	display: block;
    position: absolute;
    width: 42%;
    height: 14%;
    left: 29%;
    top: 14.3%;
}

#top-container > button {
    width: 20%;
    height: 100%;
    background: unset;
	cursor: pointer;
}

#bottom-container {
	display: block;
    position: absolute;
    width: 69%;
    height: 16%;
    left: 16.8%;
    top: 66%;
}

#bottom-container > button {
    width: 20%;
    height: 100%;
    background: unset;
	cursor: pointer;
	margin-right: 1.4vh;
}

#history-container {
	display: block;
    position: absolute;
    top: 34%;
    left: 18%;
    width: 64%;
    height: 26%;
}

#history-container > p {
	font-family: "EnvyCodeR";
	font-weight: bolder;
	font-size: 1.5em;
	margin: 0;
	color: #b6ff9e;
	text-align: left;
	line-height: unset;
}

.blink{
	animation: blinker 1s steps(1, jump-start) infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* TABLET STYLES */
a {
	text-align: center;
}


#tablet{
    background-color: rgb(255, 255, 255);
    border: rgb(39, 39, 39) 1.5vh solid;
    border-radius: 20px;
    width: 82vw;
    height: 46vw;
    max-height: 1080px;
    max-width: 1920px;
    box-shadow: 0 0 20px 0px #000000ad;
	z-index: 2;
}

#map {
	position: absolute;
	opacity: 0.01;
	width:1126.69px;
	height:600px;
}

#map > span.loading {
	display: block;
	text-align: center;
	font: 300 italic 72px/400px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

#tablet-version {
	display: inline-block;
    position: relative;
    /* float: left; */
    bottom: 0%;
    width: 100%;
    /* margin-right: -100%; */
    text-shadow: unset;
    text-align: center;
    color: rgb(92 92 92);
    font-size: 1vh;
    font-weight: bolder;
    line-height: 1.9vh;
}

#clock-table-container {
    position: relative;
	float: left; 
	width: 60%;
    height: 34vw;
    max-height: 850px;
	padding: 15px;
}

.dropdown-menu {
	min-width: 130px !important;
}

.dataTables_filter{
	width: 100%;
}

.table td, .table th {
	height: 12px;
	line-height: 12px !important;
	vertical-align: middle !important;
	text-align: center !important;
	white-space: nowrap;
}

.rid, .speed, .range {
	padding: 5px !important;
}

.speed {
	font-weight: bold !important;
}

.mapping, .print {
	width: 7%;
	max-width: 90px;
	padding: 0 !important;
}

.table-btn{
	width: 90%;
	height: 73%;
    border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.table-btn:hover{
	background-color: #e6e6e6;
	border: 1px solid #adadad;
}

.centered-container {
	display: flex;
	position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


/* PRINT VIEW */
#view-record{
    width: 7in;
    height: 9.1in;
    margin: auto;
    padding: 0.4in;
    background-color: rgb(255, 255, 255);
	border: rgb(66 66 66) 0.5vh solid;
    border-radius: 8px;
    font-family: 'Roboto';
    box-shadow: 0px 0px 24px #00000082;
}

#view-record > hr {
	margin-top: 0px !important;
    margin-bottom: 20px !important;
    border: 0;
    border-top: 1px solid #b9b9b9 !important;
}

.footer-container > hr  {
    margin-bottom: 5px;
    border-top: 1px solid #b9b9b9;
}

td {
	width: 200px;
	text-align: center !important;
}

#view-record > table {
	text-align: center !important;
    border-spacing: 3px !important;
	border-collapse: separate !important;
	font-size: 13px !important;
	table-layout: auto !important;
}

#print-map {
	width:4in !important;
	height:3in !important;
	overflow: hidden !important;
}

.print-view-header {
	background-color: rgb(24 24 24) !important;
    width: 6.90in !important;
    height: 39px !important;
    margin: -0.41in -0.4in 0.4in !important;
}

#view-record > table > tbody > tr > th {
    background-color: rgb(237, 237, 237);
}

.footer-container{
	position: relative;
    color: rgb(171 171 171) !important;
}

.footer{
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;
    font-size: 11px;
}

.print-view-close-btn {
	margin: 4px !important; 
    padding: 6px 11px !important;
	font-size: 12px !important;
	float: right;
}

.print-view-print-btn {
	margin: 4px !important; 
    padding: 6px 11px !important;
	font-size: 12px !important;
	float: right;
	background-color: #fff;
}

.print-view-print-btn:hover {
	background-color: #e6e6e6;
}

.fa-print {
  color: black;
}

.no-border {
	border-width: 0 !important;
}

.left {
	text-align: left !important;
    padding-left: 12px;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}

.pass {
	font-weight:bold !important;
	color: green !important;
}

.no-background {
	background: unset !important;
}

.small-font-size {
	font-size: 12px !important;
}

/* PRINT VIEW PRINT RESULT DIALOG */
#print-result-dialog {
	background-color: rgb(255, 255, 255);
    padding: 0.4in 0.1in 0;
    border: rgb(39, 39, 39) 0.5vh solid;
    font-family: 'Roboto';
    border-radius: 10px;
}

h6 {
	color: black;
	font-size: 16px !important;
    margin: 0px !important;
}


.dialog-header {
    background-color: rgb(24 24 24) !important;
    width: calc(100% + 20px); 
    margin-left: -10px; 
    margin-right: -10px;
    height: 38px !important;
    margin-top: -39px !important;
    margin-bottom: 15px !important;
}

.dialog-body {
	display: grid;
    align-content: center;
    justify-content: center;
}

.dialog-button {
	margin: 4px !important; 
    padding: 6px 11px !important;
	font-size: 12px !important;
}

.btn-group > * {
	border: 1px solid #1a62ae !important;
}

.btn-check:checked + .btn-outline-primary {
	background-color: #1a62ae;
	color: #fff;
}

.btn-check:not(:checked) + .btn-outline-primary {
	color: #1a62ae;
}

.btn-check {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}

.rounded-start {
	border-top-left-radius: 15px !important;
	border-bottom-left-radius: 15px !important;
}

#clock-table_filter {
  align-items: center;
  margin-bottom: 10px;
  float: left;
}

#clock-table_filter .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 355px) !important;
}

.dropdown {
  display: flex;
}

.dropdown-toggle {
  height: 27px;
  line-height: 6px;
}

.map-controls-container {
    position: relative;
    float: right;
    display: block;
    width: 40% !important;
    border-left: 2px #e5e5e5 solid;
	margin: 3.3% 0% 0px -39.9%;
}

.map-controls {
    display: grid;
    grid-template-columns: 36% 36% 17%;
    grid-template-rows: 38%;
    margin: 0;
}

.map-controls-label {
	text-shadow: unset;
    font-weight: bold;
    color: black;
    text-align: center;
}

#tablet-close{
	float: right; 
	margin: 10px; 
	padding: 2px 19px; 
	font-size: 25px;
}

#toggle-theme{
    float: right;
    margin: 15px 12px 0px 0px;    
	padding: 2px 15px;
    font-size: 19px;
    background-color: transparent;
    border: 1px solid #9b9b9b;
}

#toggle-theme:hover {
    background-color: #404040;
    border: 1px solid gray;
}

#theme-text {
    text-shadow: none;
    font-size: 10px;
}

.btn-group {
  display: flex !important;
  justify-content: center;
}

.btn-outline-primary {
  border-radius: 0;
  height: 27px !important;
  line-height: 100% !important;
}

.btn-outline-primary:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.btn-outline-primary:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn-outline-primary:hover {
  background-color: #e9ecef;
}

label[for="btn-all-pages"]:hover:after {
  content: "\026A0 \0020 Performance Impact";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: #212529;
  color: #fff;
  padding: 5px 8px; 
  border-radius: 3px;
  font-size: 0.9em;
  white-space: nowrap;
  opacity: 0.9;
  z-index: 3;
}

label[for="btn-all-pages"]:hover:after strong {
  font-weight: bold;
  color: orange;
}

label[for="btn-all-pages"]:hover:after {
  color: orange;
  font-weight: bold;
}

.legend-container {
	background-color: rgb(255 255 255 / 70%);
	border: none;
	padding: 5px ;
	border-radius: 5px;
	box-shadow: 0 0 5px #cccccc73;
	margin: 5px 0 0 5px;
}

.legend-container.hidden {
  display: none;
}

.legend-container:hover {
	background-color: rgb(255 255 255 / 100%);
}

.legend-item {
    margin-top: 3px;
}

.legend-item > span {
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
	/* color: white; */
}

.legend-item > img {
    width: 10px;
}

.legend-spacer {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

/* Stylize the toggle button */
.toggle-button {
	align-items: center;
	justify-content: center;
	height: 17px;
	width: 167px;
	background-color: rgb(255 255 255 / 70%);
	color: rgb(51, 51, 51);
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: rgb(0 0 0 / 30%) 0px 2px 5px;
	border: none;
	border-radius: 15px;
	margin: 5px 0 0 5px;
}

.toggle-button:hover {
	background-color: rgb(255 255 255 / 100%);
}

#loading-dialog-container {
    width: 80.1vw;
    height: 44.1vw;
    max-height: 1036px;
    max-width: 1877px;
    margin: 0px 6px 0px 0px;
    border-radius: 0px;
	backdrop-filter: blur(3px);
	z-index: 4;	
}

#loading-dialog {
    background: #eeeeee;
    width: 3.85in !important;
    height: 100px !important;
    border: 10px;
    border-radius: 10px;
}

#date-time {
    text-shadow: unset;
    float: right;
    margin: 22px 22px 0px 0px;
    font-size: 16px;
    color: rgb(147 147 147);
	cursor: none;
}

@media (max-width: 2000px) {
  .map-controls-container {
	margin: 4% 0% 0px -39.9% !important;
  }
}